.contact-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6rem 5rem 2rem 15rem;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.contact-left h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: "Days One";
    color: rgba(30, 30, 30, 0.72);
}

.contact-left h4{
    font-family: "Darker Grotesque";
    color: #819399;
    font-size: 36px;
    font-weight: 400;
    margin-top: 2px;
}
.numbers p{
    font-family: "Darker Grotesque";
    color: #819399;
    font-size: 22px;
    font-weight: 400;
    margin-top: -1rem;
}
.contact-add p{
    font-family: "Darker Grotesque";
    color: #819399;
    font-size: 22px;
    font-weight: 400;
    margin-top: -1rem;
}
.contact-social{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact-icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cont-ul{
    display: flex;
    flex-direction: row;
    padding: 0%;
    font-size: 20px;
}
.icon:hover{
   color:#14BFFF;
   transform: translateY(-5px);
}
.contact-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.con-but{
    box-sizing: border-box;
    padding: 1rem 3rem;
    background-color: #687073;
    border-radius: 3px;
    font-family: "Darker Grotesque";
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 0px solid #687073;
}
.contact-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10rem;
    width: 100%;
}
.form-submit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
form input, form textarea{
    width: 150%;
    border: 0;
    outline: none;
    background-color: rgba(172, 184, 188, 0.7);
    padding: 1rem 10rem 1rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 3px;
    font-family: "Darker Grotesque";
}
.sub-message-button{
    padding: 1rem 8rem;
    margin-top: 1rem;
    border: 0;
    outline: none;
    background-color: #687073;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 25px;
    font-family: "Darker Grotesque";
    cursor: pointer;
}