.project-top{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.project-top h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: "Days One";
    color: rgba(30, 30, 30, 0.72);
}
.project-top h4{
    font-family: "Cousine";
    color: #819399;
    font-size: 30px;
    font-weight: 600;
}
